/* You can add global styles to this file, and also import other style files */
//General styles
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
}

input { outline:none; }


//Scroll bar
::-webkit-scrollbar { width: 0.7rem; }

::-webkit-scrollbar-track { background: #f1f1f1; }

::-webkit-scrollbar-thumb { background: #888; }

::-webkit-scrollbar-thumb:hover { background: #555; }


//Window size
html, body { min-height: 100dvh; }

main { 
    padding-top: 5rem; 
    min-height: 100dvh;
}