<div class="chat-detail-container">
    <p>Lorem ipsum dolor sit amet consectetur,</p>
    <p>adipisicing elit. Neque ut repellat iusto officiis minus</p>
    <p>iste, voluptate odit quam odio consequuntur. Vitae autem quaerat</p>
    <p> earum qui ipsa nulla cum rem alias?</p>
    <p>Lorem ipsum dolor sit amet consectetur,</p>
    <p>adipisicing elit. Neque ut repellat iusto officiis minus</p>
    <p>iste, voluptate odit quam odio consequuntur. Vitae autem quaerat</p>
    <p> earum qui ipsa nulla cum rem alias?</p>
    <p>Lorem ipsum dolor sit amet consectetur,</p>
    <p>adipisicing elit. Neque ut repellat iusto officiis minus</p>
    <p>iste, voluptate odit quam odio consequuntur. Vitae autem quaerat</p>
    <p> earum qui ipsa nulla cum rem alias?</p>
    <p>Lorem ipsum dolor sit amet consectetur,</p>
    <p>adipisicing elit. Neque ut repellat iusto officiis minus</p>
    <p>iste, voluptate odit quam odio consequuntur. Vitae autem quaerat</p>
    <p> earum qui ipsa nulla cum rem alias?</p>
    <p>Lorem ipsum dolor sit amet consectetur,</p>
    <p>adipisicing elit. Neque ut repellat iusto officiis minus</p>
    <p>iste, voluptate odit quam odio consequuntur. Vitae autem quaerat</p>
</div>