<div class="header-account">
    <a class="header-link" href="/createAd">
        <i class="fa-solid fa-heart"></i>
    </a>

    <a class="header-link" href="/createAd">
        <i class="fa-solid fa-circle-plus"></i>
        <span>Place an ad</span>
    </a>

    <a class="header-link" href="/createAd">
        <i class="fa-solid fa-user"></i>
        <span>Profile</span>
    </a>

    <!-- <a class="header-link" href="/auth/login">
        <i class="fa-solid fa-right-to-bracket"></i>
        <span>Sign in</span>
    </a> -->
</div>

<div class="header-account-minimized">
    <a class="header-link" href="/createAd">
        <i class="fa-solid fa-heart"></i>
    </a>

    <a class="header-link" href="/createAd">
        <i class="fa-solid fa-circle-plus"></i>
    </a>

    <a class="header-link" href="/createAd">
        <i class="fa-solid fa-user"></i>
    </a>

    <!-- <a class="header-link" href="/auth/login">
        <i class="fa-solid fa-right-to-bracket"></i>
    </a> -->
</div>

<div class="header-account-collapsed">
    <ul>
        <li>
            <a class="header-link" href="/createAd">
                <i class="fa-solid fa-user"></i>
                <span>Profile</span>
            </a>
        </li>
        <li>
            <a class="header-link" href="/createAd">
                <i class="fa-solid fa-circle-plus"></i>
                <span>Place an ad</span>
            </a>
        </li>   
        <li>
            <a class="header-link" href="/createAd">
                <i class="fa-solid fa-heart"></i>
                <span>Favorites</span>
            </a>
        </li>
        <li>
            <a class="header-link" href="/createAd">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Logout</span>
            </a>
        </li>   
        <!-- <li>
            <a class="header-link" href="/auth/login">
                <i class="fa-solid fa-right-to-bracket"></i>
                <span>Sign in</span>
            </a>
        </li>    -->
    </ul>
</div>